<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wwrapp">

    <application
        android:name=".fitness.MockFitnessApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TeammateRouteDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TeammateRouteActivity"
            android:label="Routes"
            android:screenOrientation="portrait" />

        <service
            android:name=".fitness.MockFitnessService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.RouteDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MockWalkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.EnterWalkInformationActivity" />
        <activity
            android:name=".activities.HomeScreenActivity"
            android:label="HomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WalkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RoutesActivity"
            android:label="Routes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HeightScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InviteMemberScreenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.AddTeamMemberActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.TeamActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>